pandas
seaborn
streamlit
numpy
jsonlib-python3
plotly
matplotlib
io
requests
datetime
streamlit-lottie
streamlit-option-menu
python-dateutil
streamlit-chat
africastalking
yfinance
openai
pyttsx3
gtts
prophet
scikit-learn
xgboost