
seaborn
streamlit
numpy>=1.26.0,<=1.26.4
pandas==2.1.4
jsonlib-python3
plotly
matplotlib
io
requests
datetime
streamlit-lottie
streamlit-option-menu
python-dateutil
streamlit-chat
africastalking
yfinance
openai
pyttsx3
gtts
prophet
scikit-learn
xgboost
